<div class="row">
    <div class="col-md-8">
        <h2>This is a whatsout tester</h2>
    </div>



    <div class="row">
        <div class="col-md-8">

                <p>שם השולח:</p>
                <input class="form-control" type="text" ng-model="sender.text">


        </div>
    </div>



    <div class="row">
        <div class="col-md-8">
            <p></p>

                <p>תוכן ההודעה:</p>
                <input class="form-control" type="text" ng-model="msgContent.text">


        </div>
    </div>
</div>
